<!DOCTYPE html>
<html>
  <head>
    <!-- L3.35 + L4.3 -->
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <!-- L5.12: パーシャルの呼び出しlayouts/_shim.html.erb -->
    <%= render 'layouts/shim' %>
    </head>
  <body>
    <!-- L5.12: パーシャルの呼び出しlayouts/_header.html.erb -->
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <!-- L5.16: パーシャルの呼び出しlayouts/_footer.html.erb -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
