<!DOCTYPE html>
<html>
  <head>
    <!-- L3.35 + L4.3 -->
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <!-- L5.12: パーシャルの呼び出しlayouts/_shim.html.erb -->
    <%= render 'layouts/shim' %>
    </head>
  <body>
    <!-- L5.12: パーシャルの呼び出しlayouts/_header.html.erb -->
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <!-- L5.16: パーシャルの呼び出しlayouts/_footer.html.erb -->
      <%= render 'layouts/footer' %>
      <!-- L7.1: デバッグ情報の追加 -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
